#unknown-page-container{
    height: 100vh;
}

.docHQLogo {
    background-image: url('../../assets/img/logo/picyogram.png');
    position: relative;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
}