<div id="unknown-page-container" fxLayout="column">
  <mat-card fxLayout="column" fxLayoutGap="20px" fxFlex="100%" fxFlex.lt-sm="100%" fxLayoutAlign="center center">
    <mat-card-content fxLayout="column" fxLayoutAlign="start">
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" fxFlex="100%" fxFlex.lt-sm="100%">
        <div class="docHQLogo"></div>
        <div>
          <h1> Missing Content </h1>
          <p>Sorry, it looks like the page you are searching for does not exist.</p>
          <p>If this problem persists please contact support.</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>