<div fxLayout="row" fxFlexFill>
  <div fxFlex="8" fxHide.lt-md class="sidebar_container">
    <i class="fas fa-bars"></i>
    <mat-list>
      <mat-list-item fxLayoutAlign="center center"> <i class="fas fa-tachometer-alt"></i> Dashboard </mat-list-item>
      <mat-list-item fxLayoutAlign="center center"> <i class="far fa-user"></i> Your Profile </mat-list-item>
      <mat-list-item fxLayoutAlign="center center"> <i class="fas fa-cogs"></i> Settings </mat-list-item>
    </mat-list>

  </div>
  <div fxFlex.lt-sm="100" fxFlex.gt-md="92" fxFlexFill>
    <!-- top nav -->
    <div fxLayout="row" class="dashboard__top-nav">
      <div fxFlex.lt-md="100" fxFlex="70">
        <i class="fas fa-search"></i>
        <input type="text" class="top-nav__search--input" value="" />
      </div>
      <div fxHide.lt-md="true" fxFlex="30">
        <img class="download-app-store-badges" src="/assets/svg/app-store-badge.svg">
        <img class="download-google-play-badges" src="/assets/img/logo/google-play-badge.png">
      </div>
    </div>

    <!-- content -->
    <div class="content-container">
      <!-- 2 thumbnails -->
      <div fxLayout="row">
        <h3 class="content-container__title">Overview</h3>
      </div>
      <div class="content-container__analytics" fxLayout="row" fxLayoutAlign="space-evenly">
        <div class="content__card" fxFlex.lt-sm="50" fxFlex.lt-md="100" fxFlex="50">
          <h2>157</h2>
          <p>Total Number of employees</p>
        </div>
        <div class="content__card content__card--bg-green" fxFlex.lt-sm="50"  fxFlex.lt-md="100" fxFlex="50">
          <h2>57</h2>
          <p>Total Number of employees</p>
        </div>
      </div>

      <!-- calendar -->
      <div fxLayout="row">
        <app-calendar></app-calendar>
      </div>

      <!-- 3 thumbnails -->
      <div class="content-container__analytics" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="content__card content__card-bottom" fxLayout="column" fxLayoutAlign="center center"  fxFlex="100" >
          <h3 class="content__card-title">DocHQ Services</h3>
          <button mat-button class="dochq-btn__primary">TALK TO US</button>
        </div>
        <div class="content__card content__card-bottom" fxLayout="column" fxLayoutAlign="center center"  fxFlex="100">
          <h3 class="content__card-title">£ 1/m/e</h3>
          <p>Total Number of employees</p>
        </div>
        <div class="content__card content__card-bottom" fxLayout="column" fxLayoutAlign="center center"  fxFlex="100">
          <h3 class="content__card-title">Mind Q</h3>
          <p>£ 50/em</p>
        </div>
      </div>

      <app-bradford-report></app-bradford-report>

    </div>
  </div>
</div>

